body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
    width: 75%;
    margin : auto
}

.carte{
    background-color: #6EBA4D;
    border-radius: 10px;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.photo img{
    border-radius: 30em;
    border: solid white 5px;
    width: 6em;
}

.description{
    color: black;
}




